@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
#home{
    margin: 20px;
    font-family: Roboto;
    font-size: 16px;
}

body{
    font-family: Roboto;

}

#video {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  #caption{
    text-justify: auto;
  }